<!DOCTYPE html>
<html>
<head>
  <title>Klink</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery.min', 'jquery', 'rails', 'jquery.impromptu.3.1.min'%>
  <%= csrf_meta_tag %>

<script type="text/javascript">
$(document).ready(function(){
	
$("#subscribe-link").click(function(){
	$.ajax({  
	  type: "POST",  
	  url: "/users",  
	  data: 'email_address='+$("#txt_email_address").val(),  
	  success: function() {  
	    //display message back to user here  
	  }  
	});  
	return false;
	
});

	
	$("#txt_email_address").focus(function(){
		if($(this).val() == "Enter your email address")
			$(this).val("");
	});
	
	$("#txt_email_address").blur(function(){
		if($(this).val() == "")
			$(this).val("Enter your email address");
			
	});
	
});
</script>
</head>
<body>


<%= yield %>

</body>
</html>
